
{{#each posts as |post| }}
    <div class="row">
        <div class="card custom-card">
            <div class="custom-card-header display-flex justify-space-between">
                <h2>
                    <a href="/post/{{post.id}}">{{post.title}}</a>
                </h2>
                <span>Posted by {{post.user.name}} on {{format_date post.date_created}}</span>
            </div>
            <div class="custom-card-body">
                <p>
                    {{post.content}}
                </p>
            </div>
        </div>  
    </div>
{{/each}}
